//Color
$background-black: #0f0e17 ;
$highlight: #ff8906;
$nav-bar: #e53170;
$main: #fffffe;
$secondary: #a7a9be;

//Sizes
$title: 40px;
$title-desktop: 60px;
$subtitle: 30px;
$subtitle-desktop: 50px;
$paragraph:20px;
$paragraph-desktop:400px;


//screen-sizes
$tablet: 768px;
$desktop: 992px;
